<!DOCTYPE html>
<html>
  <head>
    <title>Employee Feedback Form</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  
  </head>
  <body>
    <div class="loader-div" *ngIf="isLoading">
      <div class="loader"></div>
  </div>
  <div>
    <div class="header">

        <img class="logo-image" src="/assets/favicon-logo.png" />
        <label class="heading-font">Employee Feedback</label>

     
      <button class="logout-btn" (click)="logout()">
        <mat-icon  class="logout-btn-icon">logout</mat-icon>
        <span> Logout </span>
      </button>  
    </div>
    <div class="disclaimer"> 

      <p>Please take a few minutes to give us feedback by filling in this short Employee Feedback Survey. We are conducting this research in order to measure your level of satisfaction at the work place. We thank you for your participation.</p>
      <p><b><i>*This feedback is strictly confidential. We guarantee complete anonimity of the respondent.</i></b></p>
    </div>
  
    <hr /><br>
  
      <div class="form-group name_email">
        <label class="theme_font"> Name: </label>
        <input type="text" placeholder={{name}} style="width: 20vw; margin-left: 4vw;"  disabled/>
        <label class="theme_font">Employee ID : </label>
        <input type="text" placeholder={{eid}} style="width: 20vw; margin-left: 3.3vw;"  disabled/>
      </div>

      <div class="form-group questionnaire">
       
        <table>
          <tr>
            <th class="first-col"></th>
            <th> <span class="theme_font"> Strongly Disagree </span> </th>
            <th> <span class="theme_font"> Disagree </span></th>
            <th> <span class="theme_font"> Agree </span></th>
            <th> <span class="theme_font"> Strongly Agree </span></th>
          </tr>
          <tr *ngFor="let obj of feedbackObjArray; let index = index" >
            <td class="first-col theme_font"> {{obj.desc}}<b style="color: red;">*</b></td>
            <td>
              <button mat-icon-button class="smiley"  (click)="selectRating(index,0)">
                <mat-icon  class="sentiment_very_dissatisfied" [ngClass]="feedbackObjArray[index].ratings[0] ? 'sentiment_very_dissatisfied_selected' : 'sentiment_very_dissatisfied'">sentiment_very_dissatisfied </mat-icon>
              </button>  
            </td>     
            <td>
              <button mat-icon-button class="smiley"  (click)="selectRating(index,1)">
                <mat-icon class="sentiment_dissatisfied" [ngClass]="feedbackObjArray[index].ratings[1] ? 'sentiment_dissatisfied_selected' : 'sentiment_dissatisfied'">sentiment_dissatisfied</mat-icon>
              </button>  
            </td>     
            <td>
              <button mat-icon-button class="smiley" (click)="selectRating(index,2)">
                <mat-icon class="sentiment_satisfied" [ngClass]="feedbackObjArray[index].ratings[2] ? 'sentiment_satisfied_selected' : 'sentiment_satisfied'">sentiment_satisfied</mat-icon>
              </button>  
            </td>     
            <td>
              <button mat-icon-button class="smiley" (click)="selectRating(index,3)">
                <mat-icon class="sentiment_very_satisfied" [ngClass]="feedbackObjArray[index].ratings[3] ? 'sentiment_very_satisfied_selected' : 'sentiment_very_satisfied'">sentiment_very_satisfied</mat-icon>
              </button>  
            </td>         
          </tr>
        </table>
        
      </div>

      <div>
        <button class="submit-button theme_font" (click)="submitForm()">Submit Feedback</button>
      </div>
  </div>
   
  </body>
</html>
